@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap");

.App {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

body {
  max-width: 80%;
  margin: auto;
  color: #ffc83d;
  background-color: #151515;
}
.navigation {
  font-family: "Caesar Dressing", cursive;
}
input {
  width: 80%;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
}
div {
  padding: 1rem 0;
  font-size: 1.5rem;
}
p {
  font-size: 1rem;
}
.emojiSpan {
  padding: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
}
